@import url("https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* ###########################################
                    Logo
############################################## */

.site-logo {
  font-family: "Zhi Mang Xing", cursive;
  font-weight: 900;
  font-size: 3rem;
  color: var(--text);
  text-decoration: none;
  border: 3px solid var(--text);
  padding: 5px;
  border-radius: 50%;
}

/* ###########################################
            Desktop navigation
############################################## */

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: bold;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

/* ###########################################
          Hamburger menu navigation
############################################## */

.hamburger-menu-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 25px;
}

.overlay-menu {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  list-style: none;
}

.overlay-menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay-menu a:hover,
.overlay-menu a:focus {
  color: #f1f1f1;
}

.overlay-menu .closebtn {
  position: absolute;
  top: 15px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}


/* ###########################################
                  Home section
############################################## */

.home-section {
  /* top, transparent black, faked with gradient */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/img/background.jpg");
  /* The background image is resized to cover the entire container,
    even if it has to stretch the image or cut a little bit off one of the edges. */
  background-size: cover;
  /* the background image will be positioned in the center of the element */
  background-position: center;
  /* Relative to 1% of the height of the viewport* */
  height: 100vh;
  /* This defines a flex container; inline or block depending on the given value.
    It enables a flex context for all its direct children. */
  /* The element is turned into an flexbox container.
    On its own, it behaves like a block element.
    Its child elements will be turned into flexbox items.
    */
  display: flex;
  /* Defines how flexbox items are ordered within a flexbox container
     */
  flex-direction: column;
  /* The flexbox/grid items are centered along the container's main axis. */
  justify-content: center;
  /* The flexbox items are aligned at the center of the cross axis. By default, the cross axis is vertical.
    This means the flexbox items will be centered vertically. */
  align-items: center;
  /* The text content is centered. */
  text-align: center;

  padding:0 20px;
}

.home-section h1{
  font-size: 2rem;
}
.home-section p{
  font-size: 1rem;
}

.home-section h1,
.home-section p {
  color: #fff;
  font-weight: bold;
  padding: 15px;

}

.home-section span {
  color: #d80202;
  text-decoration: underline;
  cursor: pointer;
}

/* Go-to-projects button */
.go-to-projects:link,
.go-to-projects:visited {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
  margin-top: 30px;
}
.go-to-projects:hover,
.go-to-projects:active {
  background-color: #fff;
  color: black;
}


/* Animation scroll button */
.home-intro a {
  padding-top: 100px;
}
.home-intro a span {
  position: absolute;
  /* top of scroll button */
  top: 90%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  /* border-width property sets the width of an element's four borders. */
  border-width: 2px;
}

.home-intro a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scrollbutton 2s infinite;
  animation: scrollbutton 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollbutton {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollbutton {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* H1 title */
/* .title{ */
  /* This margin-top fixes the white gap between sections*/
  /* margin-top: 0; */
  /* Padding-top makes navbar dont overlap title */
  /* padding-top: 50px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
} */


/* ###########################################
              About section
############################################## */

.about-section {
  /* height: 290vh;
  background-color: red; */
  height: 280h; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 280);
}
.about-section h2{
  /* This margin-top fixes the white gap between sections*/
  margin-top: 0px;
  /* Padding-top makes navbar dont overlap title */
  padding-top: 150px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* image of me */
.profile-picture img{
  border-radius: 50%;
  width: 150px;
}
.about-me{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /* width: 400px; */
  line-height: 1.8;
  font-weight: bold;
  /* font-size: clamp(1rem, 2vw, 2rem); */
  padding-right: 15%;
  padding-left: 15%;

  /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw -
  [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(16px + (26 - 16) * ((100vw - 400px) / (1600 - 300)));
}


/* Download cv button */
.download-cv-button{
  background-color: rgba(255, 255, 255, 0);
  color: Black;
  font-weight: bold;
  border: 3px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
  margin-top: 30px;
}
.download-cv-button:hover,
.download-cv-button:active {
  background-color: black;
  color: #fff;
}

.columns{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  height: 300px;
  margin: 40px;
  
}
.columns h3{
  font-size: 1.5rem;
}

.columns td{
  font-size: 1.1rem;
  font-weight: bold;
}
.flex-item-1 {
  flex: 50%;
}

.flex-item-2 {
  flex: 50%;
}

ul{
  list-style: none;
}

span{
  display: inline-block;
}

.columns table{
  margin-left: auto;
	margin-right: auto;
  
}
.columns table, tr, td{
  padding: 10px;
}

.svg-icon{
  width: 50px;
  vertical-align: middle;
  margin-right: 50px;
}

/* ###########################################
              Projects section
############################################## */

.projects-section {
  height: 220vh;
  height: calc(var(--vh, 1vh) * 220);
}

.projects-section h2{
  /* This margin-top fixes the white gap between sections*/
  margin-top: 0px;
  /* Padding-top makes navbar dont overlap title */
  padding-top: 150px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

/* Filter */
.filter{
  width: 100%;
  margin: 40px auto;
}

.filter ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter ul li{
  list-style: none;
  background: #eee;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
  font-size: .8rem;
}

.filter ul li.active{
  background: #03a9f4;
  color: #fff;
}

/* Images of projects */
.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box{
  position: relative;
  width: 250px;
  height: auto;
  background:#000;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,.8);
  border-radius: 5%;
  margin: 20px;
  
}
.box:before{
  content: '';
  position:absolute;
  top: 30px;
  left: 10px;
  right: 10px;
  bottom: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 1;
}

.box:hover:before{
  transform: scaleX(1);
  opacity: 1;
}
.box:after{
  content: '';
  position:absolute;
  top: 10px;
  left: 30px;
  right: 30px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.box:hover:after{
  transform: scaleY(1);
  opacity: 1;
}

.box .imgBox{
  position: relative;
}
.box .imgBox img{
  width: 100%;
  transition: .5s;
}
.box:hover .imgBox img{
  opacity: .2;
  transform: scale(1.2);
}
.box .descriptionBox{
  position:absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
}
.box .descriptionBox h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  transition: .5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}
.box .descriptionBox p{
  margin: 0;
  padding: 0;
  color: #fff;
  transition: .5s;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}
.box:hover .descriptionBox h2,
.box:hover .descriptionBox p{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: .2s;
}



/* ###########################################
              Contact section
############################################## */

.contact-section {
  height: 130vh;
  height: calc(var(--vh, 1vh) * 130);
  background-color: #282b34;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.contact-section h2{
  /* This margin-top fixes the white gap between sections*/
  margin-top: 0;
  /* Padding-top makes navbar dont overlap title */
  padding-top: 10px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

/* Right side */
.contact-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field{
  padding: 10px;
}

/* input */
input[type=text], [type=email], textarea {
  width: 90%;
  background: #1e242c;
  padding: 12px;
  border: 1px solid #1e242c;
  border-radius: 10px;
  resize: vertical;
  color: #fff;
  outline: none;
}

input[type=file] {
  width: 88%;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-style: dashed;
  padding: 15px;
}

input[type=submit] {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #fff;
  color: black;
}

/* Left side */
.contact-left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contact-email {
  text-decoration: none;
  color: #fff;
}
.contact-left h3{
  font-size: 1.3rem;
  margin: 15px;
}
.contact-info p{
  font-size: 1rem;
  margin: 15px;
}
.contact-email{
  font-size: 1rem;
  margin: 15px;
}

/* Social media icons */
.social-media-icons{
  font-size: 1.3rem;
  margin: 0px;
}

.social-media-icons{
  list-style-type: none;
  padding: 0px;
}
.social-media-icons li{
  vertical-align: top;
  display: inline;
}
.social-media-icons a{
  color: #fff;
  text-decoration: none;

}
.fa {
  margin: 15px;
}

.fa-facebook {
  padding:10px 16px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #282b34;

}
.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #282b34;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #282b34;
}
.fa-github:hover {
  background-color: #5a32a3;
}


/* ###########################################
                  Footer
############################################## */

.footer {
  justify-content: center;
  text-align: center;
  background: #1b242f;
  color: #f4f4f4;
  padding: 2.2rem;
  margin: 0;
  font-size: 0.7rem;
}



/* ###########################################
              Media query
############################################## */
@media only screen and (min-width: 580px){
  .about-section {
    height: 260vh;
    height: calc(var(--vh, 1vh) * 260);
  }
  .projects-section{
    height: 150vh;
    height: calc(var(--vh, 1vh) * 150);
  }
}

@media only screen and (max-width: 768px) {

  /* Desktop navigation */
  .main-nav{
    display: none;
  }

}

@media only screen and (min-width: 768px) {

  /* Mobile navigation */
  .mobile-nav{
    display: none;
  }

  /* Home section */
  .home-section h1{
    font-size: 3rem;
  }
  .home-section p {
    font-size: 1.3rem;
  }

  /* .projects-section {
    height: 280vh;
  } */

  /* Footer section */
  .footer{
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 870px){
  .about-section {
    height: 260vh;
    height: calc(var(--vh, 1vh) * 260);
  }
  .projects-section {
    height: 110vh;
    height: calc(var(--vh, 1vh) * 110);
  }
}

@media only screen and (min-width: 1025px) {
  .mobile-nav{
    display: none;
  }



  /* About section */




  /* End of about section */

  .home-section h1{
    font-size: 4rem;
  }
  .home-section p {
    font-size: 1.8rem;
  }

  .contact-section {
    height: 110vh;
    height: calc(var(--vh, 1vh) * 110);
  }
  .contact-container{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .contact-right {
    order: 2;
    padding: 10px;
    margin: 70px;
    flex: 50%;
  }
  .contact-left {
    order: 1;
    padding: 10px;
    margin: 70px;
    flex: 50%;
  }
  .contact-left h3{
    font-size: 1.6rem;
    margin: 15px;
  }
  .contact-info p{
    font-size: 1.3rem;
    margin: 15px;
  }
  .contact-email{
    font-size: 1.3rem;
    margin: 15px;
  }

  .social-media-icons{
    font-size: 1.3rem;
    padding: 0px;
  }

  input[type=text], [type=email], textarea {
    width: 135%;

  }

  /* input */
  input[type=file] {
    width: 133%;

  }

  input[type=submit] {

    width: 145%;

  }

  .footer{
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1300px) {
  /* Mobile nav */
  .mobile-nav{
    display: none;
  }
  /* End of mobile nav */


  /* Home section */
  .home-section h1{
    font-size: 5rem;
  }
  .home-section p {
    font-size: 2.3rem;
  }
  .go-to-projects{
    font-size: 1.3rem;
  }



  /* About section */

  .about-section {
    height: 190vh;
    height: calc(var(--vh, 1vh) * 190);
  }

  .columns{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    height: 300px;
  }

  .container-contact{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .contact-right {
    order: 2;
    padding: 10px;
    margin: 100px;
    flex: 50%;
  }
  .contact-left {
    order: 1;
    padding: 10px;
    margin: 100px;
    flex: 50%;
  }
  .contact-left h3{
    font-size: 1.6rem;
    margin: 15px;
  }
  .contact-info p{
    font-size: 1.3rem;
    margin: 15px;
  }
  .contact-email{
    font-size: 1.3rem;
    margin: 15px;
  }

  .social-media-icons{
    font-size: 1.6rem;
  }

  input[type=text], [type=email], textarea {
    width: 150%;

  }

  /* input */
  input[type=file] {
    width: 148%;
  }

  input[type=submit] {
    width: 160%;
  }


/* Footer */
  .footer{
    font-size: 1rem;
  }

}

@media only screen and (min-width: 1450px){
  .about-section {
    height: 210vh;
    height: calc(var(--vh, 1vh) * 210);
  }
  .projects-section {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
}
  