@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');


body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.site-logo {
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: 900;
    font-size: 3rem;
    color: var(--text);
    text-decoration: none;
    border: 3px solid var(--text);
    padding: 5px;
    border-radius: 50%;
  }
  
  header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
  }

  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }

  .nav-link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  .nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }









/* Home */
.home-section{
    background-image:url('/img/background.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
  .home-intro a{
    padding-top: 60px;
  }
.home-intro a span{
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

.home-intro a span::before{
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scrollbutton 2s infinite;
  animation: scrollbutton 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollbutton {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollbutton {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


/* About */

.about-section{
  height: 100vh;
}




























/* Footer */
.center{
    text-align: center;
    margin: auto;
}
.bg-dark{
    background: #333;
    color: #f4f4f4;
}
footer {
    padding: 2.2rem;
}
footer p{
    margin: 0;
}
.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}